@import "mixins";
@import "grid";
@import "variables";

@column-width: 60;
@gutter-width: 10;
@columns: 12;
@total-width: 100%;

/*
 * Row with equal height columns
 * --------------------------------------------------
 */

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/* list styles */

.list-blocks{
  li {
    background: #eaeaea;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow: hidden;
    display: block;
    label {
      font-size: 100%;
      font-weight: bold;
      display: block;
      column-span: all;
    }
  }
}

.list-lined {
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid #ddd;
    list-style: none;
    padding: 2px 0;
  }
}

/*************************************************
 Key-value lists
**************************************************/

ul.key-value-list {
  margin: 0;
  padding: 0;
  li {
    .clearfix();
    list-style-type: none;
//    vertical-align: top;

  }
  label {
    color: @gray-light;
    display: inline-block;
    font-weight: 100;
    margin: 0 4px 0 0;
    text-align: right;
    padding-right: 6px;
    min-width: 8em;
  }
  + span {
    display: inline-block;
  }
  span {
    //    word-break: break-all;
    word-wrap: break-word;
    &.value {
      //.label();
      font-size: inherit;
    }
  }
  &.lined li {
    border-bottom: 1px solid @gray-lighter;
    padding: 4px 0px;
  }
  &.small {
    font-size: small;
    label {
      min-width: 6em;
    }
  }
  &.stacked {
    li {
      display: block;
      margin-bottom: 10px;
      label {
        text-align: left;
        font-size: 110%;
      }
    }
  }
  &.wide {
    label {
      min-width: 10em;
    }
  }
}


/*************************************************
 Twitter Bootstrap overrides
**************************************************/

/* a bootstrap grid addition to allow for 5 equal columns */
.col-sm-1of5{
  width:20%;
  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 768px) {
    width: 100%;
  }
}

.popover {
  max-width: 300px;
  word-wrap: break-word;
}

.modal-backdrop.in {
  height: 200%;
  z-index: 1040;
}

/* slide out side panels ****************************/
@panel-width: 500px;
@panel-speed: 0.75s;
.side-panel {
  background-color: #222;
  color: #bbb;
  height: 100%;
  width: @panel-width;
  /*********************/
  position: fixed;
  top: 0;
  z-index: 10;
  /*********************/
  -webkit-transition: all @panel-speed ease;
  -moz-transition: all @panel-speed ease;
  transition: all @panel-speed ease;
  &.left {
    left: -@panel-width;
    &.open {
      left: 0px;
    }
  }
  &.right {
    right: -@panel-width;
    &.open {
      right: 0px;
    }
  }
}
  .side-panel-inner {
    padding: 20px;
  }
  .side-panel-tab {
    background: #222;
    color: #888;
    font-size: 1.2em;
    height: 32px;
    padding: 6px 10px 7px 10px;
    position: absolute;
    top:100px;
    width: 32px;
    -webkit-transition: all @panel-speed ease;
    -moz-transition: all @panel-speed ease;
    transition: all @panel-speed ease;
    .right & {
      margin-right: 100%;
      right: 0;
    }
    .left & {
      margin-left: 100%;
      left: 0px;
    }
    &:hover {
      cursor: pointer;
    }
  }




/* image placeholder **************/

/* placeholder no image */
.no-image-placeholder {
  background: @white;
  background-position: 50% 50%;
  height: 165px;
  position: relative;
  width: 100%;
  &.large {
    height: 300px;
    span {
      top: 45%;
    }
  }
  span {
    position: absolute;
    top: 40%;
    color: @gray-dark;
    display: block;
    text-align: center;
    width: 100%;
  }
  .overlay {
    .bg-transparent(@white, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
