{% extends "base.html" %}

{% load i18n staticfiles %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="/">{% trans 'home' %}</a>
        </li>
        <li>
            <span class="active">{% trans 'statistics' %}</span>
        </li>
    </ul>
{% endblock breadcrumbs%}

{% block content_above_wrapper %}{% endblock %}

{% block content %}

    <h2>Statistics</h2>

    <ul class="list-group" style="max-width: 320px;">
        <li class="list-group-item">
            <span class="badge">{{ counts.total_specs.count }}</span>
            Datasets:
        </li>
        <li class="list-group-item">
            <span class="badge">{{ counts.total_records.count }}</span>
            Total Indexed Records:
        </li>
    </ul>

    <div role="tabpanel">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active">
                <a href="#stats1" role="tab" data-toggle="tab">Correct Datasets: {{ counts.correct_datasets.count }}</a>
            </li>
            <li role="presentation">
                <a href="#stats2" role="tab" data-toggle="tab">Not Indexed: {{ counts.not_indexed.count }}</a>
            </li>
            <li role="presentation">
                <a href="#stats3" role="tab" data-toggle="tab">Wrong Index Count: {{ counts.wrong_index_count.count }}</a>
            </li>
            <li role="presentation">
                <a href="#stats4" role="tab" data-toggle="tab">Deleted Datasets: {{ counts.deleted.count }}</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tab-panel" class="tab-pane active" id="stats1">
                <h3>Correct Datasets</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Spec</th>
                        <th>total records</th>
                        <th>Invalid</th>
                        <th>Valid</th>
                        <th>Indexed</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in counts.correct_datasets.values %}
                        <tr>
                            <td>{{ i.spec }}</td>
                            <td>{{ i.record_count }}</td>
                            <td>{{ i.invalid }}</td>
                            <td>{{ i.valid }}</td>
                            <td>{{ i.es_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tab-panel" class="tab-pane" id="stats2">
                <h3>Not Indexed</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Spec</th>
                        <th>total records</th>
                        <th>Invalid</th>
                        <th>Valid</th>
                        <th>Indexed</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in counts.not_indexed.values %}
                        <tr>
                            <td>{{ i.spec }}</td>
                            <td>{{ i.record_count }}</td>
                            <td>{{ i.invalid }}</td>
                            <td>{{ i.valid }}</td>
                            <td>{{ i.es_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tab-panel" class="tab-pane" id="stats3">
                <h3>Stats 3</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Spec</th>
                        <th>total records</th>
                        <th>Invalid</th>
                        <th>Valid</th>
                        <th>Indexed</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in counts.wrong_index_count.values %}
                        <tr>
                            <td>{{ i.spec }}</td>
                            <td>{{ i.record_count }}</td>
                            <td>{{ i.invalid }}</td>
                            <td>{{ i.valid }}</td>
                            <td>{{ i.es_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tab-panel" class="tab-pane" id="stats4">
                <h3>Deleted Datasets</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Spec</th>
                        <th>total records</th>
                        <th>Invalid</th>
                        <th>Valid</th>
                        <th>Indexed</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in counts.deleted.values %}
                        <tr>
                            <td>{{ i.spec }}</td>
                            <td>{{ i.record_count }}</td>
                            <td>{{ i.invalid }}</td>
                            <td>{{ i.valid }}</td>
                            <td>{{ i.es_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>





{% endblock content %}