*.pyc
.cache
*.pyo
*.db
*.iml
.DS_Store
.coverage
output/*
local_settings.py
nave/.cache
nave/static/*
*.ipynb
celerybeat.pid
gunicorn.pid
gunicorn.conf.py
nave/media/*
nave/admin_backups/*
nave/theme/static/less/*
nave/functional_tests/screendumps/*
.idea/*
docs/_build/*
.ipynb_checkpoints
nave/debug.log
*~
wsgi.py
.tox/
*.mo
nave/projects/*
!nave/projects/README.md
.vagrant
*.swp
.ropeproject
.coverage*

# the files stored during fab deploy
nave/last.tar
nave/last.commit
*.log
uwsgi.ini
nave_public.egg-info
do_compilemessages.sh
enable_users.py
/tags
.venv

# misc
_scratch
_data
_scripts
_jupyter
locale
