{% load dataset_tags %}
<div role="tabpanel" class="tab-pane" id="tab-content">
    {% detail_field 'rce_compleet_straat_adres' label=_('compleet straat adres') %}
    {% detail_field 'rce_plaats' label=_('plaats') %}
    {% detail_field 'rce_naam' label=_('naam') %}
    {% detail_field 'rce_typemonum' label=_('typemonum') %}
    {% detail_field 'rce_cbscategor' label=_('cbscategor') %}
    {% detail_field 'rce_oorsprfunc' label=_('oorsprfunc') %}
    {% detail_field 'rce_subcatoms' label=_('subcatoms') %}
    {% detail_field 'rce_hfdcatoms' label=_('hfdcatoms') %}
</div>
