{% extends 'base.html' %}
{% load i18n %}

{% trans 'coll_AATCategories' %}
{% trans 'coll_Administrators' %}
{% trans 'coll_Borrowed' %}
{% trans 'coll_EarliestWorkFromCollection' %}
{% trans 'coll_FromCoreCollection' %}
{% trans 'coll_GeographicalRelevance' %}
{% trans 'coll_MostRecentWorkFromCollection' %}
{% trans 'coll_Museum' %}
{% trans 'coll_NumberOfObjects' %}
{% trans 'coll_RelationToCoreCollection' %}
{% trans 'coll_Strength' %}
{% trans 'coll_Total' %}
{% trans 'dc_contributor' %}
{% trans 'dc_coverage' %}
{% trans 'dc_creator' %}
{% trans 'dc_date' %}
{% trans 'dc_description' %}
{% trans 'dc_format' %}
{% trans 'dc_identifier' %}
{% trans 'dc_language' %}
{% trans 'dc_publisher' %}
{% trans 'dc_relation' %}
{% trans 'dc_rights' %}
{% trans 'dc_source' %}
{% trans 'dc_subject' %}
{% trans 'dc_title' %}
{% trans 'dc_type' %}
{% trans 'dcterms_alternative' %}
{% trans 'dcterms_conformsTo' %}
{% trans 'dcterms_created' %}
{% trans 'dcterms_extent' %}
{% trans 'dcterms_hasFormat' %}
{% trans 'dcterms_hasPart' %}
{% trans 'dcterms_hasVersion' %}
{% trans 'dcterms_isFormatOf' %}
{% trans 'dcterms_isPartOf' %}
{% trans 'dcterms_isReferencedBy' %}
{% trans 'dcterms_isReplacedBy' %}
{% trans 'dcterms_isRequiredBy' %}
{% trans 'dcterms_isVersionOf' %}
{% trans 'dcterms_issued' %}
{% trans 'dcterms_medium' %}
{% trans 'dcterms_provenance' %}
{% trans 'dcterms_references' %}
{% trans 'dcterms_replaces' %}
{% trans 'dcterms_requires' %}
{% trans 'dcterms_rightsHolder' %}
{% trans 'dcterms_spatial' %}
{% trans 'dcterms_spatialCoverage' %}
{% trans 'dcterms_tableOfContents' %}
{% trans 'dcterms_temporal' %}
{% trans 'dcterms_temporalCoverage' %}
{% trans 'nave_collection' %}
{% trans 'nave_creator' %}
{% trans 'nave_description' %}
{% trans 'nave_dimensions' %}
{% trans 'nave_fullTextObjectUrl' %}
{% trans 'nave_hasDigitalObject' %}
{% trans 'nave_owner' %}
{% trans 'nave_provider' %}
{% trans 'nave_recordType' %}
{% trans 'nave_title' %}
{% trans 'edm_aggregatedCHO' %}
{% trans 'edm_collectionName' %}
{% trans 'edm_collectionTitle' %}
{% trans 'edm_country' %}
{% trans 'edm_currentLocation' %}
{% trans 'edm_dataProvider' %}
{% trans 'edm_hasMet' %}
{% trans 'edm_hasType' %}
{% trans 'edm_hasView' %}
{% trans 'edm_incorporates' %}
{% trans 'edm_isDerivativeOf' %}
{% trans 'edm_isNextInSequence' %}
{% trans 'edm_isRelatedTo' %}
{% trans 'edm_isRepresentationOf' %}
{% trans 'edm_isShownAt' %}
{% trans 'edm_isShownBy' %}
{% trans 'edm_isSimilarTo' %}
{% trans 'edm_isSuccessorOf' %}
{% trans 'edm_language' %}
{% trans 'edm_object' %}
{% trans 'edm_provider' %}
{% trans 'edm_realizes' %}
{% trans 'edm_rights' %}
{% trans 'edm_type' %}
{% trans 'edm_ugc' %}
{% trans 'edm_unstored' %}
{% trans 'edm_uri' %}
{% trans 'edm_wasPresentAt' %}
{% trans 'edm_year' %}
{% trans 'lido_actorInRole' %}
{% trans 'lido_actor_roleActor' %}
{% trans 'lido_administrativeMetadata_recordWrap' %}
{% trans 'lido_administrativeMetadata_recordWrap_recordID' %}
{% trans 'lido_administrativeMetadata_resourceWrap' %}
{% trans 'lido_administrativeMetadata_rightsWorkWrap' %}
{% trans 'lido_category' %}
{% trans 'lido_conceptID' %}
{% trans 'lido_displayDate' %}
{% trans 'lido_displayObjectMeasurements' %}
{% trans 'lido_displayPlace' %}
{% trans 'lido_displaySubject' %}
{% trans 'lido_earliestDate' %}
{% trans 'lido_eventType' %}
{% trans 'lido_eventWrap' %}
{% trans 'lido_event_eventActor' %}
{% trans 'lido_genderActor' %}
{% trans 'lido_latestDate' %}
{% trans 'lido_legalBodyName' %}
{% trans 'lido_legalBodyWeblink' %}
{% trans 'lido_lidoRecId' %}
{% trans 'lido_lidoRecId_source' %}
{% trans 'lido_nationalityActor_term' %}
{% trans 'lido_objectClassificationWrap' %}
{% trans 'lido_objectIdentificationWrap' %}
{% trans 'lido_objectRelationWrap_subjectWrap' %}
{% trans 'lido_recordInfoID' %}
{% trans 'lido_recordInfoLink' %}
{% trans 'lido_recordType' %}
{% trans 'lido_resourceType' %}
{% trans 'lido_rightsType' %}
{% trans 'lido_subject_subjectConcept_term' %}
{% trans 'lido_titleSet' %}
{% trans 'lido_type' %}
{% trans 'lido_workID' %}
{% trans 'nave_aboutPerson' %}
{% trans 'nave_acceptedStateCharges' %}
{% trans 'nave_acceptedStateChargesReason' %}
{% trans 'nave_acquiredWithHelpFrom' %}
{% trans 'nave_acquisitionMeans' %}
{% trans 'nave_acquisitionYear' %}
{% trans 'nave_address' %}
{% trans 'nave_citName' %}
{% trans 'nave_citOldId' %}
{% trans 'nave_collection' %}
{% trans 'nave_collectionPart' %}
{% trans 'nave_collectionType' %}
{% trans 'nave_color' %}
{% trans 'nave_contentProvider' %}
{% trans 'nave_county' %}
{% trans 'nave_creatorBirthYear' %}
{% trans 'nave_creatorDeathYear' %}
{% trans 'nave_creatorRole' %}
{% trans 'nave_creatorYearOfBirth' %}
{% trans 'nave_creatorYearOfDeath' %}
{% trans 'nave_currentLocation' %}
{% trans 'nave_dataProvider' %}
{% trans 'nave_date' %}
{% trans 'nave_deepZoomUrl' %}
{% trans 'nave_design' %}
{% trans 'nave_digitised' %}
{% trans 'nave_dimension' %}
{% trans 'nave_event' %}
{% trans 'nave_exhibition' %}
{% trans 'nave_expulsionMeans' %}
{% trans 'nave_expulsionYear' %}
{% trans 'nave_formatted' %}
{% trans 'nave_fullTextObjectUrl' %}
{% trans 'nave_geo' %}
{% trans 'nave_landedProperty' %}
{% trans 'nave_latitude' %}
{% trans 'nave_legalStatus' %}
{% trans 'nave_location' %}
{% trans 'nave_longitude' %}
{% trans 'nave_material' %}
{% trans 'nave_municipality' %}
{% trans 'nave_namedPlace' %}
{% trans 'nave_objectNumber' %}
{% trans 'nave_objectSoort' %}
{% trans 'nave_pageEnd' %}
{% trans 'nave_pageStart' %}
{% trans 'nave_pages' %}
{% trans 'nave_period' %}
{% trans 'nave_person' %}
{% trans 'nave_physicalState' %}
{% trans 'nave_place' %}
{% trans 'nave_previousLocation' %}
{% trans 'nave_productionEnd' %}
{% trans 'nave_productionPeriod' %}
{% trans 'nave_productionStart' %}
{% trans 'nave_province' %}
{% trans 'nave_purchasePrice' %}
{% trans 'nave_region' %}
{% trans 'nave_subjectDepicted' %}
{% trans 'nave_technique' %}
{% trans 'nave_theme' %}
{% trans 'nave_thumbLarge' %}
{% trans 'nave_thumbSmall' %}
{% trans 'nave_vindplaats' %}
{% trans 'nave_year' %}
{% trans 'owl_sameAs' %}
{% trans 'rdf_type' %}
{% trans 'text' %}
{% trans 'type_All' %}
{% trans 'type_Images' %}
{% trans 'type_Sounds' %}
{% trans 'type_Texts' %}
{% trans 'type_Video' %}
{% trans 'type_Videos' %}
