{% load i18n %}
{#############################################################}
{# HORIZONTAL FACETS                                         #}
{#############################################################}
{% if data.user_query.num_found > 0 %}
    <div class="facets-horizontal">
        <ul class="nav nav-pills">
            {% for facet in data.facet_list %}
                {% if facet.facet_link.links %}
                    <li class="dropdown facet-container" id="{{ facet.facet_link.name }}">
                        <a class="btn btn-facets dropdown-toggle {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}" type="button" id="{{ facet.facet_link.name }}" data-toggle="dropdown" aria-expanded="true" rel="nofollow">
                            <span>{{ facet.label }}</span><i class="fa fa-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu  scrollable-menu" role="menu" aria-labelledby="{{ facet.facet_link.name }}">
                            {% for term in facet.facet_link.links %}
                                <li role="presentation" data-value="{{ term.value  }}" data-count="{{ term.count }}">
                                    <a href="{{ term.full_link }}" class="facet-link" role="menuitem" tabindex="-1" rel="nofollow">
                                        <i class="fa fa-fw {% if not term.is_selected %}fa-square-o{% else %}fa-check-square{% endif %}"></i>
                                        {{ term.value }} ({{ term.count }})
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

{#{% if data.user_query.num_found > 0 %}#}
{#    <div class="facets-horizontal">#}
{#    {% for facet in data.facet_list %}#}
{#        {% if facet.facet_link.links %}#}
{#            <span class="dropdown">#}
{#                <button class="btn btn-facets dropdown-toggle" type="button" id="{{ facet.facet_link.name }}" data-toggle="dropdown" aria-expanded="true">#}
{#                    {{ facet.label }}#}
{#                    <i class="fa fa-chevron-down pull-right"></i>#}
{#                </button>#}
{#                <ul class="dropdown-menu  scrollable-menu" role="menu" aria-labelledby="{{ facet.facet_link.name }}">#}
{#                    {% for term in facet.facet_link.links %}#}
{#                        <li role="presentation" data-value="{{ term.value  }}" data-count="{{ term.count }}">#}
{#                            <a href="{{ term.link }}" class="facet-link" role="menuitem" tabindex="-1">#}
{#                                <i class="fa fa-fw {% if not term.is_selected %}fa-square-o{% else %}fa-check-square{% endif %}"></i>#}
{#                                {{ term.value }} ({{ term.count }})#}
{#                            </a>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </span>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#    </div>#}
{#{% endif %}#}