{% load i18n urls_tags dataset_tags %}
    <div class="row results-grid">
        {% for result in data.items %}
            {# ATTENTION: col-sm-4 is 4/12 so 3 items per grid row. A necessary bit of info for the js further below:  var fo_cols =  3 #}
            <div class="results-grid-item-container">
                <div class="results-grid-item  {{ grid_class }}" id="#result_{{ forloop.counter0 }}">
                    <a href="{% url 'results_detail_foldout' doc_type=result.item.doc_type slug=result.item.fields.system.slug  %}"
                       data-slug="{{ result.item.fields.system.slug }}" data-doc_type="{{ result.item.doc_type }}" data-mode="{{ acceptance }}"
                       class="result-item-link"  data-index="{{ forloop.counter0 }}">
                        <div class="media">
                            {% if result.item.fields.system.thumbnail %}
                                <img src="{{ result.item.fields.system.thumbnail }}" class="img system" alt="{% if result.item.fields.system.caption %}{{ result.item.fields.caption.0.value }}{% endif %}" />
                            {% elif not result.item.fields.system.thumbnail and result.item.fields.edm_object.0.raw %}
                                <img src="{{ result.item.fields.edm_object.0.raw }}" class="img edm" alt="{% if result.item.fields.system.caption %}{{ result.item.fields.caption.0.value }}{% endif %}" />
                            {% else %}
                                <div class="no-image-placeholder">
                                    <div class="overlay"></div>
                                    <span>{% trans 'no preview available' %}</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="meta" data-match-height="result-meta">
                            {% if result.item.fields.system.caption %}
                                <div class="title">{{ result.item.fields.system.caption.0|truncatechars:55}}</div>
                            {% endif %}
                            {% if result.item.fields.dc_creator %}
                                <div class="creator">{{ result.item.fields.dc_creator.0.value}}</div>
                            {% endif %}
                            {%  if result.item.fields.dc_date %}
                                <div class="date">{{ result.item.fields.dc_date.0.value}}</div>
                            {%  endif %}
                            {% if result.item.fields.edm_dataProvider%}
                                <div class="provider">
                                    <label for="">{% trans 'Source' %}:</label>
                                    {{ result.item.fields.edm_dataProvider.0.value }}
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        {% empty %}
            <h3 class="col-md-12">{% trans 'No search results' %}</h3>
        {% endfor %}
    </div>
