{% load i18n urls_tags %}
<div class="row results-list">
    <div class="col-md-12">
        {% for result in data.items %}
            <div class="media">
                <div class="media-left">
                    <a href="{{ result.item.fields.system.source_uri }}">
                        {# nave_thumbSmall #}
                        {% if result.item.fields.nave_thumbSmall.0.raw %}
                            <img src="{{ result.item.fields.nave_thumbSmall.0.raw }}" class="img-foldout nave" alt="
                                    {% if result.item.fields.system.caption %}{{ result.item.fields.system.caption.0 }}{% endif %}"/>
                            {# system.thumbnail #}
                        {% elif not result.item.fields.nave_thumbSmall.0.raw and result.item.fields.system.thumbnail %}
                            <img src="{{ result.item.fields.system.thumbnail }}" class="img-foldout system" alt="
                                    {% if result.item.fields.system.caption %}{{ result.item.fields.system.caption.0 }}{% endif %}"/>
                            {# emd_object #}
                        {% elif not result.item.fields.nave_thumbSmall.0.raw and not result.item.fields.system.thumbnail and result.item.fields.edm_object.0.raw %}
                            <img src="{{ result.item.fields.edm_object.0.raw }}" class="img-foldout edm" alt="
                                    {% if result.item.fields.system.caption %}{{ result.item.fields.system.caption.0 }}{% endif %}"/>
                        {% else %}
                            <div class="no-image-placeholder">
                                <div class="overlay"></div>
                                <span>{% trans 'no preview available' %}</span>
                            </div>
                        {% endif %}
                    </a>
                </div>
                <div class="media-body">
                    {% if result.item.fields.system.caption %}
                        <h4 class="media-heading">
                            <a href="{{ result.item.fields.system.source_uri }}">
                                {{ result.item.fields.system.caption.0|truncatechars:55 }}

                            </a>
                        </h4>
                    {% endif %}
                    {% if result.item.fields.dc_creator %}
                        <div class="creator">{{ result.item.fields.dc_creator.0.value }}</div>
                    {% endif %}
                    {% if result.item.fields.dc_date %}
                        <div class="date">{{ result.item.fields.dc_date.0.value }}</div>
                    {% endif %}
                    {% if result.item.fields.edm_dataProvider %}
                        <div class="provider">
                            <label for="">{% trans 'Source' %}:</label>
                            {{ result.item.fields.edm_dataProvider.0.value }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <h3>{% trans 'No search results' %}</h3>
        {% endfor %}
    </div>
</div>
