{% load staticfiles %}
<html>
<head>
    <title>Instant Website</title>
    <link type="text/css" rel="stylesheet" href="http://{{ request.get_host }}{% static 'css/delving-instant-core.1.0.5.css' %}">
    <link type="text/css" rel="stylesheet" href="http://{{ request.get_host }}{% static 'css/delving-instant-custom.css' %}">
</head>
<body>
<div id="diw-search"><!-- autogen form here --></div>
<div id="diw-advanced-search"><!-- autogen advanced search here --></div>
<div id="diw-query-info"><!-- autogen query info here --></div>
<div class="diw-pagination"><!-- autogen top pagination here --></div>
<div id="diw-results-container">
    <div id="diw-facets"><!-- autogen facets here --></div>
    <div id="diw-results"><!-- autogen search results here --></div>
</div>
<div id="diw-item-container">
    <div id="diw-item-media"><!-- autogen item image/deepzoom here --></div>
    <div id="diw-item-data"><!-- autogen item metadatafields here --></div>
    <div id="diw-item-related"><!-- autogen related items here --></div>
</div>
<div class="diw-pagination bottom"><!-- autogen bottom pagination here --></div>
<script type="text/javascript" src="http://{{ request.get_host }}{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script type="text/javascript" src="http://{{ request.get_host }}{% static 'js/delving-instant-dependencies.1.0.5.min.js' %}"></script>
<script type="text/javascript" src="http://{{ request.get_host }}{% static 'js/delving-instant-core.1.0.5.min.js' %}"></script>
<script>
    jQuery(document).ready(function($) {
        jQuery(document).delvingInstant({
            endPoint: "http://www.brabantcloud.nl",
            orgId: "brabantcloud",
            collectionSpecs: ["{{ diw.collection_spec }}"],
            dataOwner: "{{ diw.collection_spec }}",
            hasDigitalObject: true,
            rows: 10,
            configHelp: false,
            resultsLayout: "list",
            defaultImg: "{% static 'img/blank.png' %}",
            language: "nl",
            label:{
                collapse: "Minder&nbsp;[-]",
                expand: "Meer&nbsp;[+]",
                viewInOriginalContext: "Bekijk in oorspronkelijke context",
                goTo: "Ga naar: ",
                next: "Volgende",
                noResults: "Geen resultaten gevonden",
                previous: "Vorige",
                numberOfResults: "Gevonden: ",
                returnToSearchResults: "Terug naar resultaten",
                search: "Zoeken",
                searchResults: "Zoekresultaten",
                advancedSearch: "Geavanceerd zoeken",
                advancedSearchClose: "Geavanceerd zoeken sluiten",
                boolAnd: "EN",
                boolNot: "NIET",
                boolOr: "OF",
                relatedItems: "Soortgelijke inhoud",
                sort: "Sorteer"
            },
            layout: {
                simpleSearchBlock: "#diw-search",
                advancedSearchBlock: "#diw-advanced-search",
                queryInfoBlock: "#diw-query-info",
                paginationBlock: ".diw-pagination",
                resultsBlock: "#diw-results",
                facetsBlock: "#diw-facets",
                itemMediaBlock: "#diw-item-media",
                itemDataBlock: "#diw-item-data",
                itemRelatedBlock: "#diw-item-related"
            },
            linkToExternalLandingPage: false,
            textExpander: true,
            maxCharactersResults: "255",
            maxCharactersItem: "1000",
            maxCharactersTitle: 200,
            thumbnailWidth:"144",
            useDeepZoom: true,
            useFlashZoom: true,
            deepZoomFlashFile: "{% static 'flash/OpenZoomViewer.swf' %}",
            thumbnailField: "delving_thumbnail",
            displayFacets: [
                {% for facet in diw.facets.all %}
                    {name: "{{ facet.name }}", label: "{{ facet.label }}" }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            resultFields: [
                {% for field in diw.resultfields.all %}
                    {name: "{{ field.name }}", label: "{% if field.label %}{{ field.label }}{% endif %}" }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            itemFields: [
                {% for field in diw.detailfields.all %}
                    {name: "{{ field.name }}", label: "{% if field.label %}{{ field.label }}{% endif %}" }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            itemImageFields: {
                thumb:"delving_thumbnail",
                image:"europeana_isShownBy",
                imageAlt:"europeana_object",
                deepZoomUrl:"delving_deepZoomUrl"
            },
            relatedItemsFields: {
                thumb:"delving_thumbnail",
                title:"dc_title"
            },
            showRelatedItems: true,
            relatedItemsCount: 5,
            relatedItemsFields: {
                thumb:"delving_thumbnail",
                title:"dc_title"
            }
        });
    });
</script>
</body>
</html>