{% load static %}
<script type="text/javascript" src="{% static 'bower_components/openseadragon/built-openseadragon/openseadragon/openseadragon.js' %}"></script>
<script>
{#############################################################}
{# if deepzoom_count then activate zoom viewer               #}
{#############################################################}
    var zoom_src = '';
    var count = {{ deepzoom_count }};
    var zooms = {{ deepzoom_urls }};
    if(count == 1 ) {
    zoom_src = zooms[0]
    }
    else {
    zoom_src = zooms;
    }
    var viewer = new OpenSeadragon.Viewer({
        id: "{{ viewer_id }}",
        prefixUrl: "{% static 'img/openseadragon/' %}",
        tileSources: zoom_src,
        sequenceMode: {% if deepzoom_count > 1%}true{% else %}false{% endif %},
        {% if toolbar_id %}
        toolbar: "{{ toolbar_id }}",
        {% endif %}
        {% if show_navigator %}
        showNavigator: true,
        {% endif %}
        navigatorPosition: "{{ navigator_position }}",
        visibilityRatio: 1.0,
        defaultZoomLevel: 1,
        autoResize: true,
        constrainDuringPan: true,
    });

</script>