{% extends 'search-widget-base.html' %}

{% block search_widget_branding %}
    Delving Nave
{% endblock %}

{% block search_widget_style %}
    <style type="text/css">
        .search-widget-form {background: #888; color: #fff; padding: 10px; }
        .search-widget-branding {font-size: 24px;}
        .search-widget-branding i {background: none repeat scroll 0% 0% #477532;color: #FFF; display: inline-block; font-family: Georgia,"Times New Roman",Times,serif; font-style: normal; font-weight: bold; margin-right: 2px; padding: 2px 4px;}
        .search-widget-input,
        .search-widget-button { border: 1px solid #ddd; border-radius: 0px; box-sizing: border-box; font-size: 14px; height: 32px; margin: 0; padding: 4px 8px; vertical-align: top;}
        .search-widget-input {  width: 78%;}
        .search-widget-button { width: 18%;}
    </style>
{% endblock %}