{% extends "base.html" %}
{% load staticfiles %}
{% block body_id %}home{% endblock %}
{% block title %}{% endblock title %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block page_header %}

<header id="page-header" class="homepage">
    <div class="container">
        <div class="homepage-header">
            <div class="row">
            <div class="col-md-6 homepage-left">

            </div>
            <div class="col-md-6 homepage-right">

            </div>
            </div>
        </div>
    </div>
</header>

{% endblock page_header %}

{% block content %}

{% endblock content %}