{% extends "base.html" %}

{% load  staticfiles  leaflet_tags geojson_tags i18n thumbnail dataset_tags %}

{% block content %}
    {% if '/search/' in request.META.HTTP_REFERER %}
        <a class="btn btn-primary btn-xs" href="{{ request.META.HTTP_REFERER }}" id="btn-back">
            <i class="fa fa-hand-o-left"></i>&#160;
            {% trans 'Return to results' %}
        </a>
        <hr/>
    {% endif %}

    <div class="row">
        <div class="col-md-4">
            {% detail_field 'dc_title' %}
            {% detail_field 'dc_description' %}
            {% detail_field 'dc_creator' %}
{#            {% detail_field 'dc_date' %} {# todo: make it possible to ask for multiple source fields and return an appended list #}
            {% detail_field 'dc_type' %}
            {% detail_field 'dc_format'  separator='<br/>' %}
            {% detail_field 'dc_subject' %}
            {% detail_field 'dc_relation' %}
        </div>
        <div class="col-md-4">
            {% detail_field 'europeana_dataProvider' %}
            {% detail_field 'dcterms_provenance' %}
            {% detail_field 'dc_contributor' %}
            {% detail_field 'dc_source' %}
            {% detail_field 'europeana_country' %}
            {% detail_field 'dc_rights' %}
            {% detail_field 'dc_identifier' %}
        </div>
        <div class="col-md-4">
            {# todo: media display tag should show 1)normal image 2)deep-zoom 3)video 4)multiples with thumb nav #}
            {% detail_media_preview 'europeana_isShownBy' %}
        </div>
    </div>

    {% block extra_css %}
        <link rel="stylesheet" href="{% static "css/search.css" %}" />
    {% endblock %}

{% endblock content %}