/**
 * MARGIN SHORTCUTS
 * these are shortcuts to the margin-{side} CSS property
 */
/**
 * MARGIN - H / V
 * these are shortcuts to set only horizontals or vertical margins without alter existing rules
 * you can use these mixins with one value applied to the left/right, top/bottom margins or
 * you can use them with separated values
 */
/**
 * PADDING SHORTCUTS
 * these are shortcuts to the padding-{side} CSS property
 */
/**
 * PADDING - H / V
 * these are shortcuts to set only horizontals or vertical paddings without alter existing rules
 * you can use these mixins with one value applied to the left/right, top/bottom paddings or
 * you can use them with separated values
 */
/**
  * TRANSPARENT BACKGROUND COLOR
  * this mixin will set the opacity level of the background color of a block level element
  * pass the color as hex, and the mixin will create the rgba values.
  */
/* GRID GENERATOR */
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* a little help for the multicolumn cms plugins */
.multicolumn2,
.multicolumn3,
.multicolumn4,
.multicolumn5,
.multicolumn6 {
  margin: 0px -15px;
}
.multicolumn2 .column,
.multicolumn3 .column,
.multicolumn4 .column,
.multicolumn5 .column,
.multicolumn6 .column {
  padding: 0px 15px;
}
/* list styles */
.list-blocks li {
  background: #eaeaea;
  padding: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow: hidden;
  display: block;
}
.list-blocks li label {
  font-size: 100%;
  font-weight: bold;
  display: block;
  column-span: all;
}
.list-lined {
  margin: 0;
  padding: 0;
}
.list-lined li {
  border-bottom: 1px solid #ddd;
  list-style: none;
  padding: 2px 0;
}
/* a bootstrap grid addition to allow for 5 equal columns */
.col-sm-1of5 {
  width: 20%;
  /* Extra Small Devices, Phones */
}
@media only screen and (max-width: 768px) {
  .col-sm-1of5 {
    width: 100%;
  }
}
/*************************************************
 Key-value lists
**************************************************/
ul.key-value-list {
  margin: 0;
  padding: 0;
}
ul.key-value-list li {
  *zoom: 1;
  list-style-type: none;
}
ul.key-value-list li:before,
ul.key-value-list li:after {
  content: "";
  display: table;
}
ul.key-value-list li:after {
  clear: both;
}
ul.key-value-list li:before,
ul.key-value-list li:after {
  content: "";
  display: table;
}
ul.key-value-list li:after {
  clear: both;
}
ul.key-value-list label {
  color: #999999;
  display: inline-block;
  font-weight: 100;
  margin: 0 4px 0 0;
  text-align: right;
  padding-right: 6px;
  min-width: 8em;
}
ul.key-value-list + span {
  display: inline-block;
}
ul.key-value-list span {
  word-wrap: break-word;
}
ul.key-value-list span.value {
  font-size: inherit;
}
ul.key-value-list.lined li {
  border-bottom: 1px solid #eeeeee;
  padding: 4px 0px;
}
ul.key-value-list.small {
  font-size: small;
}
ul.key-value-list.small label {
  min-width: 6em;
}
ul.key-value-list.stacked li {
  display: block;
  margin-bottom: 10px;
}
ul.key-value-list.stacked li label {
  text-align: left;
  font-size: 110%;
}
ul.key-value-list.wide label {
  min-width: 10em;
}
/* Twitter Bootstrap overrides */
.popover {
  max-width: 300px;
  word-wrap: break-word;
}
/* cms annoyances **************************************/
/* CMS active overrides */
html.cms-ready {
  margin-top: 0px !important;
}
#cms_toolbar {
  top: 0px !important;
}
#cms_toolbar .cms_toolbar-trigger {
  top: 0px !important;
}
#cms_toolbar .cms_debug-bar {
  display: none;
}
#cms_toolbar.cms_toolbar-debug div.cms_toolbar,
#cms_toolbar.cms_toolbar-debug div.cms_toolbar-trigger {
  top: 0px !important;
}
#cms_toolbar.cms_toolbar-debug div.cms_toolbar-trigger {
  left: 0px !important;
  border-right: 1px solid #000;
  width: 32px;
}
/* slide out side panels ****************************/
.side-panel {
  background-color: #222;
  color: #bbb;
  height: 100%;
  width: 280px;
  /*********************/
  position: fixed;
  top: 0;
  z-index: 10;
  /*********************/
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.side-panel.left {
  left: -280px;
}
.side-panel.right {
  right: -280px;
}
.side-panel.show-left {
  left: 0;
}
.side-panel.show-right {
  right: 0;
}
.side-panel-inner {
  padding: 10px;
}
#show-side-panel-right {
  background: #222;
  color: #888;
  font-size: 1.2em;
  height: 32px;
  margin-right: 100%;
  padding: 6px 10px 7px 10px;
  width: 32px;
  /*********************/
  position: absolute;
  top: 300px;
  right: 0;
  /*********************/
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* lifted corners box shadow ***********/
/* cms-plugin STATISTIC BLOCK ***********/
.statistics-block {
  padding: 30px 10px;
  text-align: center;
}
.statistics-block .text {
  color: #999999;
  font-family: Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.statistics-block .count {
  color: #333333;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.25em;
}
/* image placeholder **************/
/* placeholder no image */
.no-image-placeholder {
  background: #ffffff;
  background-position: 50% 50%;
  height: 165px;
  position: relative;
  width: 100%;
}
.no-image-placeholder.large {
  height: 300px;
}
.no-image-placeholder.large span {
  top: 45%;
}
.no-image-placeholder span {
  position: absolute;
  top: 40%;
  color: #333333;
  display: block;
  text-align: center;
  width: 100%;
}
.no-image-placeholder .overlay {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bfffffff, endColorstr=#bfffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bfffffff, endColorstr=#bfffffff);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
