{% load i18n static %}
<div class="bs-callout bs-callout-warning hidden">
    <h4>Oh snap!</h4>
    <p>This form seems to be invalid :(</p>
</div>
<div class="bs-callout bs-callout-info hidden">
    <h4>Yay!</h4>
    <p>Everything seems to be ok :)</p>
</div>
<form data-parsley-validate="" action="" method="post" id="enrichment_link_form" role="form" class="form">
    {% csrf_token %}
    <input type="hidden" name="source_uri" id="id_source_uri" value="{{ source_uri }}"/>
    <div class="form-group">
        <label for="id-content_type" class="control-label">{% trans 'Type' %}</label>
        <input type="text" required="" class="form-control" id="id_content_type" placeholder="{% trans 'Type' %}">
    </div>
    <div class="form-group">
        <label for="id_name" class="control-label">{% trans 'Name' %}</label>
        <input type="text" required="" class="form-control" id="id_name" placeholder="{% trans 'Name' %}">
    </div>
    <div class="form-group">
        <label for="id_short_description" class="control-label">{% trans 'Short description' %}</label>
        <input type="text" required="" class="form-control" id="id_short_description" placeholder="{% trans 'Short description' %}">
    </div>
    <div class="form-group">
        <label for="id_link" class="control-label">{% trans 'URL/Link' %}</label>
        <input type="url" required="" class="form-control" id="id_link" placeholder="{% trans 'Link' %}">
    </div>
    <div class="form-group">
        <label for="id_published" class="control-label">{% trans 'Published' %}</label>
        <input type="checkbox" required="" name="published" id="id_published" value="true" checked="true"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
    </div>
</form>

