/**
 * MARGIN SHORTCUTS
 * these are shortcuts to the margin-{side} CSS property
 */
/**
 * MARGIN - H / V
 * these are shortcuts to set only horizontals or vertical margins without alter existing rules
 * you can use these mixins with one value applied to the left/right, top/bottom margins or
 * you can use them with separated values
 */
/**
 * PADDING SHORTCUTS
 * these are shortcuts to the padding-{side} CSS property
 */
/**
 * PADDING - H / V
 * these are shortcuts to set only horizontals or vertical paddings without alter existing rules
 * you can use these mixins with one value applied to the left/right, top/bottom paddings or
 * you can use them with separated values
 */
/**
  * TRANSPARENT BACKGROUND COLOR
  * this mixin will set the opacity level of the background color of a block level element
  * pass the color as hex, and the mixin will create the rgba values.
  */
/* GRID GENERATOR */
.ds-field {
  display: table-row;
}
.ds-field-label {
  display: table-cell;
  color: #999;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0px;
  width: 180px;
  padding-right: 10px;
}
@media (max-width: 480px) {
  .ds-field-label {
    display: block;
    width: 100%;
    clear: both;
  }
}
.ds-field-value {
  display: table-cell;
  margin-bottom: 5px;
  width: auto;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
@media (max-width: 480px) {
  .ds-field-value {
    display: block;
    width: 100%;
    clear: both;
  }
}
