{% load staticfiles i18n urls_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{vwp.title}}</title>
    <link type="text/css" rel="stylesheet" href="diw.css">
</head>

<body>
    <div id="diw-header">
        <header class="diw-branding" role="banner">
            {% autoescape off %}
                {{ vwp.diw.diw_header }}
            {% endautoescape %}

        </header>
    </div>

    <div class="diw-body">
        {% autoescape off %}
            {{ vwp.page_body }}
        {% endautoescape %}
    </div>
    <div id="diw-footer">
        <footer class="diw-branding" role="banner">
            {% autoescape off %}
                {{ vwp.diw.diw_footer }}
            {% endautoescape %}
        </footer>
    </div>
</body>

</html>
